/* Match-Carousel CSS style */

body {
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color:#e1e1e1;
}

.bottomRow {
	position: relative;
    top: 3%;
}

.img-responsive { margin: 0 auto; }

.match-container {
  padding: 15px 15px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-prematch-870.jpg);
  background-repeat:no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  
  height:460px;
}

.match-container.live {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-live-870.jpg);
	background-repeat:no-repeat;
}
.match-container.post{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-postmatch-870.jpg);
	background-repeat:no-repeat;
}

.no-bottom-margin { margin-bottom:0px; }

p.date { margin-top:-8px; }

p.title { font-size:300%; }
p.title.smaller { font-size:230%; }

p.subtitle {
	font-size:200%;	
	margin-top:0px;
}

p.status {
	background-color:#555555;
	 border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  font-size:150%;	
  width:150px;
  margin: 0 auto;
  padding:2px;
}

p.status.live { background-color:#ff9600; }
p.status.post { background-color:#2c8604; }
p.score { font-size: 600%; }

.top-margin-80 { margin-top:40px; }
.top-margin-40 { margin-top:40px; }
.top-margin-10 { margin-top:-10px; }

.teamTitle{ font-size:390%; margin-top:-35px;}
.teamTitle.smaller { font-size:290%; }

img.loading { margin-top:50px; }

@media (max-width: 870px) {
	body { font-size:6px; }
	.bottomRow { top:7%;}
	.match-container {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-prematch-450.jpg);
		background-repeat:no-repeat;
		border-radius: 7px;
  		-moz-border-radius: 7px;
 		-khtml-border-radius: 7px;
  		-webkit-border-radius: 7px;
		height:238px;
		padding-top:8px;
	}	
	.match-container.live {
	 	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-live-450.jpg);
		background-repeat:no-repeat;
	}
	.match-container.post {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-postmatch-450.jpg);
		background-repeat:no-repeat;
	}
	p.status {
		border-radius: 2px;
  		-moz-border-radius: 2px;
  		-khtml-border-radius: 2px;
 		 -webkit-border-radius: 2px;
		width:70px;
	}
	.teamTitle {margin-top:-5px; }
	.top-margin-80 { margin-top:15px; }
	.top-margin-40 { margin-top:5px; }
	.top-margin-10 { margin-top:-5px; }
	
	p.date { margin-top:-5px; }
}
 
@media (max-width: 450px) {
	body { font-size:4px; }
	.match-container {
		border-radius: 5px;
  		-moz-border-radius: 5px;
 		-khtml-border-radius: 5px;
  		-webkit-border-radius: 5px;
		 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-prematch-320.jpg);
		 background-repeat:no-repeat;
		 height:169px;
		 padding-top:5px;
	}
	.match-container.live {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-prematch-320.jpg);
		background-repeat:no-repeat;
	}
	.match-container.post {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg-prematch-320.jpg);
		background-repeat:no-repeat;
	}
	p.status {
		border-radius: 1px;
  		-moz-border-radius: 1px;
  		-khtml-border-radius: 1px;
 		 -webkit-border-radius: 1px;
		width:55px;
		padding:1px;
	}
	.teamTitle {margin-top:-12px; }
	.top-margin-80{ margin-top:15px; }
	.top-margin-40 { margin-top:5px; }
	.top-margin-10 { margin-top:0px; }
	
	p.date { margin-top:-2px; }
}
